<!--@todo: add or remove links to static pages-->
<div class="main-menu">
  <i class="fa fa-female"></i> <a href="{{@blog.url}}/about/">About Me</a><br/>
  <i class="fa fa-bullhorn"></i> <a href="{{@blog.url}}/talks/">Talks</a> 
</div> 