<!--Post share widget-->
<div class="post-share-widget">
  Share it:
  <ul class="post-share-links" role="menu">
    <li>
      <a href="http://twitter.com/share" title="Share post on Twitter" class="post-share-twitter" data-toggle="share" data-share-window-w=550 data-share-window-h=300 data-share-query="text={{title}}&amp;url={{url absolute="true"}}"><i class="fa fa-twitter-square"></i><span class="sr-only">Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php" title="Share post on Facebook" class="post-share-facebook" data-toggle="share" data-share-query="u={{url absolute="true"}}"><i class="fa fa-facebook-square"></i><span class="sr-only">Facebook</span></a>
    </li>
    <li>
      <a href="https://plus.google.com/share" title="Share post on Google Plus" class="post-share-google" data-toggle="share" data-share-window-w=500 data-share-window-h=420 data-share-query="url={{url absolute="true"}}"><i class="fa fa-google-plus-square"></i><span class="sr-only">Google+</span></a>
    </li>
  </ul>
</div>